<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include head.html %}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


		<!-- Header
		====================================== -->
		{% include header_onepage.html %}

		{% include slider_fade.html %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				{{ content }}

			</div>

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->


{% include script.html %}


</body>
</html>
 